.sidebar {
   /* display: none;*/
}

.main {
    padding: 20px;
    padding-top: 12px;
    padding-bottom: 600px;
}

.main .page-header {
    margin-top: 0;
}

.viewing {
    opacity: 1;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 10px;
    border-bottom: 1px solid #eee;
    margin-left: 10px;
}

h4{
	font-family: "Inconsolata", sans-serif;
	font-weight:bold;
	font-size: 100px;
	margin-top: 10%;
	text-align: center;
	margin-left: 50px;
	color: #ffffff;
	}
	
.fullpage {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display : none;
    padding: 20px;
    border-radius: 0;
    height: 100%;
    width: 100%;
}

.section-opacity {
    opacity: 1;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
}
.overview-background-img {
    background: url(overview2.jpg) no-repeat center center fixed;
}


.background-img-setting {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display : block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #000000;
        border-right: 1px solid #eee;
        height: 100%;
        width: 100%;
    }

    .main {
        padding-right: 40px;
        padding-left: 20px;
        z-index: 1001;
        width: 500px;
    }

}

@media (min-width: 0px) and (max-width: 767px)  {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display : table-cell;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #000000;
        border-right: 1px solid #eee;
        height: 100%;
        width: 100%
    }

    .main {
        padding-right: 10px;
        padding-left: 10px;
        z-index: 1001;
        width: 100%
        background-color:rgba(0, 0, 0, 0);
    }

    .viewing {
        background: rgba(221, 221, 221, 0);
    }
}

.legend {
    line-height: 16px;
    width: 130px;
    color: #333333;
	font-family: "Verdana", Geneva, sans-serif;
    padding: 6px 8px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
    z-index: 1000;
}

.legend img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    float: left;
}

.legend p {
    font-size: 12px;
    color: black;
    line-height: 16px;
    margin: 0;
    text-shadow: black 0.0em 0.0em 0.0em;
}

.legend2 {
    opacity: 0;
}

.breakpoint-current {
    left: 0;
    margin-top: -10px;
    position: fixed;
   /* top: 33.3333%; */
    width: 1px;
    height: 1px;
    background: black;
    opacity: 0;
}

section {
    padding: 5px 10px 120px 10px;
    border-radius: 0px;
    opacity:0;
}

.arrow-down {
    position:fixed;
    padding-left: 15px;
    top:90%;
    cursor: pointer;
    z-index:1002;
    font-size: 30px;
    color: #ffffff;
    font-weight:bold;
}

.arrow-down:hover {
    color: gray;

}

.leaflet-container {
    background-color:#545966;
}
body {
	background-color:#545966;
	color: #ffffff;
	font-family: "Inconsolata", sans-serif;
}
h1{
	padding-left: 0px;
	font-family: "Inconsolata", sans-serif;
}
p{
	font-family: "Inconsolata", sans-serif;
	text-shadow: black 0.2em 0.2em 0.3em;
}
p2{
	font-family: "Inconsolata", sans-serif;
	color:black;
}
h2{
	font-family: "Inconsolata", sans-serif;
}
h3{
	font-family: "Inconsolata", sans-serif;
	font-size: 50px;
	font-weight:bold;
	margin-top: 5px;
		text-shadow: black 0.2em 0.2em 0.3em;

	}

.social,.social2 {
    position:fixed;
    cursor: pointer;
    font-size:24px;
    color:white;
    z-index:1003;
	font-family: "Inconsolata", sans-serif;
    top: 2%;
    left:7px;
}
.social:hover {
    color: gray;
    text-decoration: none;
}
.social2:hover {
    color: blue;
    text-decoration: none;
}
.label_tooltip {
  background-color: rgba(255,255,255,1);
	font-family: "Inconsolata", sans-serif;
  font-weight: bold; 
  border: 2px solid rgba(255,255,255,1);
  box-shadow: 2px 2px rgba(0,0,0,0.5);
}
.leaflet-tooltip-left.label_tooltip::before {
  border-left-color: white;
  opacity: 1;
}
.leaflet-tooltip-right.label_tooltip::before {
  border-right-color: white;
  opacity: 1;
}

