.sidebar {
   /* display: none;*/
}

.main {
    padding: 20px;
    padding-top: 12px;
    padding-bottom: 600px;
}

.main .page-header {
    margin-top: 0;
}

.viewing {
    opacity: 1;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 10px;
    border-bottom: 1px solid #eee;
    margin-left: 10px;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    display: block;
    z-index: 1004;
    color: rgb(63, 63, 63);
}

#loading i {
    color: rgba(63, 63, 63, 0.4);
    position: fixed;
    top: 40%;
    left: 50%;
    font-size: 40px;
}

.navbar {
    position: fixed;
    top: 5%;
    left: 92%;
    z-index: 1002;
    border-radius: 3px;
    background: rgba(255, 255, 255, .8);
    color: rgba(63, 63, 63, 0.3);
    padding:0;
    margin:0;
    font-size: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    opacity: 0;
    filter:alpha(opacity=0);
    -moz-opacity:0;
}
.navbar:hover{
	opacity:1;
	}

.navbar > li {
    position: relative;
    display: block !important;
    cursor: pointer;
    text-align: left;
}

.navbar li a {
    outline: 1px;
    border: 0;
    padding: 4px;
    background-color: transparent;
    font-size:12px;
    font-weight:bold;
}

.navbar li a:visited,.navbar li a:active, .navbar li a:link  {color: rgba(0, 0, 0, 1); text-decoration:none}
.navbar li a:hover   {color: rgba(0, 0, 0, .5); background-color:black); text-decoration:none;}


.glyphicon-one-fine-full-dot:before {
    content:"\25cf";
    font-size: 2em;
}

h4{
	font-family: "Inconsolata", sans-serif;
	font-weight:bold;
	font-size: 100px;
	margin-top: 10%;
	text-align: center;
	margin-left: 50px;
	color: #000000;
	}
	
.fullpage {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display : none;
    padding: 20px;
    border-radius: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.section-opacity {
    opacity: 1;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
}
.end-background-img {
    background: url(overview_dam.jpg) no-repeat center center fixed;
}
.overview-background-img {
    background: url(end_dam.jpg) no-repeat center center fixed;
}



.background-fullscreen-setting {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display : block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #ffffff;
        border-right: 1px solid #eee;
        height: 100%;
        width: 100%;
    }

    .main {
        padding-right: 40px;
        padding-left: 20px;
        z-index: 1001;
        width: 500px;
    }

}

@media (min-width: 0px) and (max-width: 767px)  {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display : table-cell;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #ffffff;
        border-right: 1px solid #eee;
        height: 100%;
        width: 100%
    }

    .main {
        padding-right: 10px;
        padding-left: 10px;
        z-index: 1001;
        width: 100%
        background-color:rgba(0, 0, 0, 0);
    }

    .viewing {
        background: rgba(221, 221, 221, 0);
    }
}



.legend {
    line-height: 16px;
    width: 150px;
    color: #333333;
	font-family: "Verdana", Geneva, sans-serif;
    padding: 6px 8px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend2 {
    line-height: 16px;
    width: 200px;
    color: #333333;
	font-family: "Verdana", Geneva, sans-serif;
    padding: 6px 8px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}


.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
    z-index: 1000;
}

.legend img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    float: left;
}

.legend p {
    font-size: 12px;
    color: black;
    line-height: 16px;
    margin: 0;
    text-shadow: black 0.0em 0.0em 0.0em;
}


.breakpoint-current {
    left: 0;
    margin-top: -40px;
    position: fixed;
   /* top: 33.3333%; */
    width: 1px;
    height: 1px;
    background: black;
    opacity: 0;
}

section {
    padding: 5px 10px 10px 10px;
    border-radius: 0px;
    opacity:0;
}

.arrow-down {
    position:fixed;
    padding-left: 15px;
    top:90%;
    cursor: pointer;
    z-index:1002;
    font-size: 30px;
    color: #ffffff;
    font-weight:bold;

}

.arrow-down:hover {
    color: gray;

}

div.leg {
    line-height: 16px;
    color: #333333;
	font-family: "Verdana", Geneva, sans-serif;
    /*background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;*/
}

div.leg i {
    width: 16px;
    height: 16px;
    margin:0;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
    z-index: 1000;
}

div.leg i2 {
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
		border:0.2px solid #ffffff;    
}

div.leg img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    float: left;
}

div.leg p {
    font-size: 12px;
    color: white;
    line-height: 16px;
    margin: 0;
    text-shadow: gray 0.2em 0.2em 0.3em;
}

.leaflet-container {
    background-color:#ffffff;
}
body {
	background-color:#545966;
	color: #000000;
	font-family: "Inconsolata", sans-serif;
}
h1{
	padding-left: 0px;
	font-family: "Inconsolata", sans-serif;
}
p{
	font-family: "Inconsolata", sans-serif;
	font-size: 20px;
	font-weight:bold;
	display: inline;
	text-shadow: gray 0.1em 0.1em 0.1em;
	color:white;
}
p2{
	font-family: "Inconsolata", sans-serif;
	color:black;
}
h2{
	font-family: "Inconsolata", sans-serif;
}
h3{
	font-family: "Inconsolata", sans-serif;
	font-size: 50px;
	font-weight:bold;
	text-shadow: gray 0.1em 0.1em 0.2em;
	color:white;
	}
h5{
font-family: 'La Belle Aurore', cursive;
	text-align: justify;
	font-size: 20px;
	color: #bf4040;
}
.img:hover{
	border:4px solid #ffffff;	
	}

.social,.social2,.social3 {
    position:fixed;
    cursor: pointer;
    font-size:24px;
    color:black;
    z-index:1003;
	font-family: "Verdana", Geneva, sans-serif;
    top: 2%;
}
.social:hover {
    color: gray;
    text-decoration: none;
}
.social2:hover {
    color: "#3b5998";
    text-decoration: none;
}
.social3:hover {
    color: "#0084b4";
    text-decoration: none;
}	
.label_tooltip {
  background-color: rgba(255,255,255,1);
	font-family: "Inconsolata", sans-serif;
  font-weight: bold; 
  border: 2px solid rgba(255,255,255,1);
  box-shadow: 2px 2px rgba(0,0,0,0.5);
}
.leaflet-tooltip-left.label_tooltip::before {
  border-left-color: white;
  opacity: 1;
}
.leaflet-tooltip-right.label_tooltip::before {
  border-right-color: white;
  opacity: 1;
}
.circle {
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
		border:0.2px solid #ffffff;    
}



